    <%= form_for(@article) do |f| %>
        <% @article.errors.full_messages.each do |message| %>
            <div>
                *<%= message%>
            </div>
        <%end%>
        <%= f.text_field :title, placeholder: "Titulo"%>
        <%= f.text_area :body, placeholder: "Escriba su articulo aqui"%>
        <p>Portada: </p><%= f.file_field :cover%>
        <%= f.submit "Guardar", class:"btn waves-effect waves-light"%>
    <%end%>    