
  <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper #01579b light-blue darken-4">
          <a href="#!" class="brand-logo logo">Logo</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul class="right hide-on-med-and-down">
            <li class="myli"><a href="sass.html">Sass</a></li>
            <li class="myli"><a href="badges.html">Components</a></li>
            <li class="myli"><a href="collapsible.html">Javascript</a></li>
            <li class="myli"><a href="mobile.html">Mobile</a></li>
            <% if user_signed_in? %>
              <li class="myli">
                <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
              </li>
            <%else%>
              <li class="myli">
                <%= link_to "Iniciar sesion", new_user_session_path%>
              </li class="myli">
              <li>
                <%= link_to "Crear Cuenta", new_user_registration_path%>
              </li class="myli">
            <%end%>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="sass.html">Sass</a></li>
            <li><a href="badges.html">Components</a></li>
            <li><a href="collapsible.html">Javascript</a></li>
            <li><a href="mobile.html">Mobile</a></li>
            <% if user_signed_in? %>
              <li>
                <%= link_to "Cerrar sesion", destroy_user_session_path, method: :delete %>
              </li>
            <%else%>
              <li>
                <%= link_to "Iniciar sesion", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Crear Cuenta", new_user_registration_path%>
              </li>
            <%end%>
          </ul>
        </div>
    </nav>
  </div>
